---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

			<h1>About Me</h1>
				<p>
					Hi, I'm Astro. I'm a web developer and I like to make things.
				</p>
				<!-- paragraph about Tottenhams history -->
				<p>
					I've been a Tottenham Hotspur fan for 20 years.
				</p>
	</body>
</html>
